<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Sheet Template</title>
    <link rel="stylesheet" href="charCSS.css">
</head>

<body>
    <div id=side-bar>
        <div id="profile-pic"></div>
        <div id="side-bar-content">
            <p>--Character Title Name--</p>
        </div>
        <div id="animal-fur"></div>
        <div id="nav-side-bar">
            <a href="#Info">
                <p>Info</p>
            </a>
            <a href="#Backstory">
                <p>Backstory</p>
            </a>
            <a href="#Mood Board">
                <p>Mood Board</p>
            </a>
            <a href="#Character Sheet">
                <p>Character Sheet</p>
            </a>
            <a href="#Artworks">
                <p>Artworks</p>
            </a>
            <a href="#Old Designs">
                <p>Old Designs</p>
            </a>
        </div>

    </div>
    <div id="background">
    </div>
    <div id="name">
        <p>--Character Name--</p>
    </div>
    <div id=main-content>
        <div id="profile-pic-box">
            <div id="profile-pic"></div>
            <div id="side-bar-content">
                <p>--Character Title Name--</p>
            </div>
            <div id="animal-fur"></div>
        </div>
        <section id="#Info" class="Info">
            <div class="content">
                <div id="CharacterArt"></div>
                <div id="CharacterInfo">
                    <div id="info-box">
                        <div id="Voice">
                            <p>Voice Claim:</p>
                            <img src="Icons/icons8-voice-50.png" width="20px" height="20px" alt="">
                        </div>
                        <div id="Age">
                            <p>Age:</p>
                            <p>--Character Age--</p>
                        </div>
                        <div id="Gender">
                            <p>Gender:</p>
                            <p>--Character Gender--</p>
                        </div>
                        <div id="Sexuality">
                            <p>Sexuality:</p>
                            <p>--Character Sexuality--</p>
                        </div>
                        <div id="Pronouns">
                            <p>Pronouns:</p>
                            <p>--Pronouns--</p>
                        </div>
                        <div id="Interest">
                            <p>Interests:</p>
                            <p>--Character--</p>
                        </div>
                        <div id="Dislike">
                            <p>Dislikes:</p>
                            <p>--Dislikes--</p>
                        </div>
                        <div id="KeyTraits">
                            <p>Key Characteristics:</p>
                            <p>--characteristics--</p>
                        </div>
                        <div id="Theme">
                            <p>Theme Song:</p>
                            <img src="Icons/icons8-audio-24.png" width="20px" height="20px" alt="">
                        </div>
                    </div>
        </section>
    </div>
</body>

</html>