@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

@font-face {
    font-family: "ChalkFont";
    src: url('Fonts/kg-ten-thousand-reasons-font/KgTenThousandReasons-R1ll.ttf') format('truetype'),
}

@font-face {
    font-family: "ChalkFontHeader";
    src: url('Fonts/kg-second-chances-font/KgSecondChancesSketch-KpAp.ttf') format('truetype'),
}

/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ChalkFont, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    scrollbar-color: var(--main-color) var(--bg-color);
}

button {
    cursor: pointer;
    background-color: var(--main-color);
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: large;
}

:root {
    --bg-color: #343434;
    --second-bg-color: #CACACA;
    --text-color: #FCFAF1;
    --main-color: #d6b45d;
    --darker-main-color: #8b7b56;
}

html {
    font-size: 70%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

h1 {
    font-size: 3rem;
    color: var(--text-color);

}

/* Customs */
#background {
    background: var(--main-color);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    z-index: -100;
    height: 30vh;
}

/* Side Bar */
#side-bar {
    background: var(--darker-main-color);
    width: 20vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    z-index: 100;
    padding-top: 5vh;
}

#side-bar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

#profile-pic {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: var(--text-color) solid 0.2rem;
}

#animal-fur {
    background: var(--main-color);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5vh;
    width: 120px;
}

#side-bar-content p {
    font-size: 1.5rem;
}

#nav-side-bar {
    height: 35vh;
    width: 15vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#nav-side-bar a {
    font-size: 1.5rem;
    color: var(--text-color);
}

#nav-side-bar a:hover {
    font-size: 1.5rem;
    color: var(--main-color);
}

/* Main Content */
#name {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
    padding-left: 23vw;
}

#main-content {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
}

section {
    display: flex;
    flex-direction: column;
    padding-left: 23vw;

}

.title {
    display: flex;
    align-self: start;
    font-size: 1.5rem;
    color: var(--text-color);
    padding-left: 23vw;
    margin: 1rem;

}

#profile-pic-box {
    display: none;
}

/* Insights section */
.Insights {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.Insights .content {
    width: 90%;
    height: 100%;
    background-color: var(--second-bg-color);
    border-radius: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

#CharacterArt {
    width: 40em;
    height: 35rem;
    background-color: #d6b45d;
    border-radius: 3rem;
    margin-right: 2rem;
}

#CharacterInfo {
    width: 60em;
    height: 35rem;
    background-color: #d6b45d;
    border-radius: 3rem;
}

#info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    margin: 2rem;
    padding: 2rem;
    background-color: var(--bg-color);
    border-radius: 3rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Backstory section */
.Backstory {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.Backstory .content {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--darker-main-color);
    border-radius: 3rem;
    padding: 2rem;
}

/* MoodBoard section */
.MoodBoard {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.MoodBoard .content {
    width: 90%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--second-bg-color);
    border-radius: 3rem;
    padding: 2rem;
}

/* CharacterSheet section */
.CharacterSheet {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.CharacterSheet .content {
    width: 90%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--second-bg-color);
    border-radius: 3rem;
    padding: 2rem;
}

/* Artwork Section */
.Artworks {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.Artworks .content {
    width: 90%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--second-bg-color);
    border-radius: 3rem;
    padding: 2rem;
}

.Art-list {
    max-height: 700px;
    display: flex;
    overflow-x: auto;
}

.disabled-button {
    background-color: #62573d;
    color: var(--second-bg-color)
}

.Art-list .Art-component {
    margin: 4rem;
    padding: 1rem;
    border: 3px solid #c0a663;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5%;
    align-items: center;
    min-width: 300px;
    height: 350px;
    text-align: center;
}

/* Artwork Section */
.OldDesigns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.OldDesigns .content {
    width: 90%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--second-bg-color);
    border-radius: 3rem;
    padding: 2rem;
}

.OldDesigns-list {
    max-height: 700px;
    display: flex;
    overflow-x: auto;
}

.OldDesigns-list .OldDesigns-component {
    margin: 4rem;
    padding: 1rem;
    border: 3px solid #c0a663;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5%;
    align-items: center;
    min-width: 300px;
    height: 350px;
    text-align: center;
}

#Voice,
#Age,
#Gender,
#Sexuality,
#Pronouns,
#Interest,
#Dislike,
#KeyTraits,
#Theme {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#info-box p {
    font-size: 1.2rem;
    font-family: ChalkFontHeader, sans-serif;
    color: var(--text-color);
}

@media screen and (max-width: 1000px) {
    #side-bar {
        display: none;
    }

    #name {
        padding-left: 0;
        display: flex;
        justify-content: center;
    }

    #main-content .title {
        padding-left: 0;
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    section {
        padding-left: 0;
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    #profile-pic-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3rem;
    }

    .title {
        padding-left: 0;
    }
}

@media screen and (max-width: 700px) {
    #side-bar {
        display: none;
    }

    .Insights .content {
        width: 80vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #CharacterArt {
        width: 70vw;
        height: 35rem;
        background-color: var(--main-color);
        border-radius: 3rem;
        margin-right: 0rem;
    }

    #CharacterInfo {
        width: 70vw;
        height: 35rem;
        background-color: var(--main-color);
        border-radius: 3rem;
        margin: 2rem;
    }

    #CharacterInfo p {
        font-size: 0.8rem;
    }

}