<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Sheet Template</title>
    <link rel="stylesheet" href="charCSS.css">
</head>

<body>
    <div id=side-bar>
        <div id="profile-pic"></div>
        <div id="side-bar-content">
            <p>--Character Title Name--</p>
        </div>
        <div id="animal-fur"></div>
        <div id="nav-side-bar">
            <a href="#Info">
                <p>Info</p>
            </a>
            <a href="#Skills and Personality">
                <p>Skills and Personality</p>
            </a>
            <a href="#Backstory">
                <p>Backstory</p>
            </a>
            <a href="#Mood Board">
                <p>Mood Board</p>
            </a>
            <a href="#Character Sheet">
                <p>Character Sheet</p>
            </a>
            <a href="#Artworks">
                <p>Artworks</p>
            </a>
            <a href="#Old Designs">
                <p>Old Designs</p>
            </a>
        </div>

    </div>
    <div id="background">
    </div>
    <div id="name">
        <p>--Character Name--</p>
    </div>

    <div id=main-content>
    </div>
</body>

</html>