<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Sheet Template</title>
    <link rel="stylesheet" href="charCSS.css">
</head>

<body>
    <!-- Side Bar -->
    <div id=side-bar>
        <div id="profile-pic"></div>
        <div id="side-bar-content">
            <p>--Character Title Name--</p>
        </div>
        <div id="animal-fur"></div>
        <div id="nav-side-bar">
            <a href="#Insights">Insights</a>
            <a href="#Backstory">Backstory</a>
            <a href="#MoodBoard">Mood Board</a>
            <a href="#CharacterSheet">Character Sheet</a>
            <a href="#Artworks">Artworks</a>
            <a href="#OldDesigns">Old Designs</a>
        </div>

    </div>
    <div id="background">
    </div>
    <div id="name">
        <p>--Character Name--</p>
    </div>
    <!-- Main Content -->
    <div id=main-content>
        <div id="profile-pic-box">
            <div id="profile-pic"></div>
            <div id="side-bar-content">
                <p>--Character Title Name--</p>
            </div>
            <div id="animal-fur"></div>
        </div>
        <div class="title" id="Insights">
            <p>Insights</p>
        </div>
        <!-- Insights Section -->
        <section class="Insights">
            <div class="content">
                <div id="CharacterArt"></div>
                <div id="CharacterInfo">
                    <div id="info-box">
                        <div id="Voice">
                            <p>Voice Claim:</p>
                            <img src="Icons/icons8-audio-24.png" width="10px" height="10px" alt="">
                        </div>
                        <div id="Age">
                            <p>Age:</p>
                            <p>---</p>
                        </div>
                        <div id="Gender">
                            <p>Gender:</p>
                            <p>---</p>
                        </div>
                        <div id="Sexuality">
                            <p>Sexuality:</p>
                            <p>---</p>
                        </div>
                        <div id="Pronouns">
                            <p>Pronouns:</p>
                            <p>---</p>
                        </div>
                        <div id="Interest">
                            <p>Interests:</p>
                            <p>---</p>
                        </div>
                        <div id="Dislike">
                            <p>Dislikes:</p>
                            <p>---</p>
                        </div>
                        <div id="KeyTraits">
                            <p>Key Characteristics:</p>
                            <p>---</p>
                        </div>
                        <div id="Theme">
                            <p>Theme Song:</p>
                            <img src="Icons/icons8-audio-24.png" width="10px" height="10px" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Backstory Section -->
        <div class="title">
            <p>Backstory</p>
        </div>
        <section id="#Backstory" class="Backstory">
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti reiciendis minus error dolore
                    molestiae totam omnis corrupti excepturi aliquam praesentium, eos facere neque aliquid. Animi magnam
                    hic libero similique doloribus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero fugiat
                    rerum nisi ex exercitationem, corporis hic quis odit delectus rem? Quasi minima eaque neque fuga
                    nihil distinctio consectetur voluptatibus ipsa. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Eveniet, laudantium, accusamus labore magni delectus eligendi ad officiis rerum minima
                    necessitatibus fuga dolore hic recusandae quae fugiat atque cumque sunt totam.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur eaque perspiciatis saepe, eum modi
                    odit laudantium ex ratione earum eos! Molestiae, asperiores dolore. Architecto suscipit a numquam
                    provident? Tenetur, exercitationem!Lorem
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse animi, ipsam quo nisi laboriosam ea
                    sed vel expedita ipsa eligendi est voluptatem facilis quam? Ipsa, a delectus. Culpa, tenetur quis!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem cum minima tempora aliquam labore
                    obcaecati architecto, quibusdam doloribus enim natus explicabo recusandae, nulla iusto quasi
                    doloremque quas, facere hic dignissimos!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nisi deserunt tempora ex perferendis
                    quis consequatur vero? Ducimus facere perferendis illo non quaerat! A quasi similique aperiam in
                    doloribus quo.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio incidunt error voluptatum
                    dolorum quae, molestias fugit molestiae tenetur. Tempora ab amet ipsa molestiae aliquam expedita id
                    dolore magnam maiores quas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam amet
                    quidem temporibus dolorem earum libero. Assumenda doloremque nulla laudantium, officia temporibus
                    odio asperiores molestiae? Hic cupiditate tenetur eveniet necessitatibus. Alias. Lorem ipsum dolor
                    sit amet consectetur adipisicing elit. Quam dicta cumque eligendi rerum totam? Est, officiis! Nam
                    iste et voluptates maxime quia, est at ex, magni laudantium repudiandae in iure.
                </p>
            </div>
        </section>
        <!-- Mood Board Section -->
        <div class="title" id="MoodBoard">
            <p>Mood Board</p>
        </div>
        <section class="MoodBoard">
            <div class="content">

            </div>
        </section>
        <!-- Character Sheet Section -->
        <div class="title" id="CharacterSheet">
            <p>Character Sheet</p>
        </div>
        <section class="CharacterSheet">
            <div class="content">
            </div>
        </section>
        <!-- Artworks Section -->
        <div class="title" id="Artworks">
            <p>Artworks</p>
        </div>
        <section class="Artworks">
            <div class="content">
                <div class="Art-list">
                    <div class="Art-component">
                    </div>
                    <div class="Art-component">
                    </div>
                    <div class="Art-component">
                    </div>
                    <div class="Art-component">
                    </div>
                    <div class="Art-component">
                    </div>

                </div>
            </div>
        </section>
        <!-- Old Designs Section -->
        <div class="title" id="OldDesigns">
            <p>Old Designs</p>
        </div>
        <section class="OldDesigns">
            <div class="content">
                <div class="OldDesigns-list">
                    <div class="OldDesigns-component">
                    </div>
                    <div class="OldDesigns-component">
                    </div>
                    <div class="OldDesigns-component">
                    </div>
                    <div class="OldDesigns-component">
                    </div>
                    <div class="OldDesigns-component">
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>