<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects Sheet Template</title>
    <link rel="stylesheet" href="projectCSS.css">
</head>

<body>
    <div id="project-content">
        <div id="header">
            <h1>--Project Name--</h1>
        </div>
        <div id="content">
            <h2>Category: </h2>
            <div class="text-box">
                <p>--Name-- Engineering</p>
            </div>
            <h2>Project Description: </h2>
            <div class="text-box">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores omnis earum aliquid sapiente atque
                    repudiandae vero, dolore quasi eveniet corporis ad aut sequi doloremque odio? At adipisci architecto
                    iste vero.</p>
            </div>
            <h2>Project Skills and Tools: </h2>
            <div class="text-box">
                <p><span>Skills:</span></p>
                <p><span>Tools:</span></p>
            </div>
            <h2>Project Start Date:</h2>
            <div class="text-box">
                <p><span>Date:</span></p>
            </div>
            <h2>Project End Date:</h2>
            <div class="text-box">
                <p><span>Date:</span></p>
            </div>
            <h2>Project Photos:</h2>
            <div class="text-box">
                <div class="project-images">
                    <div class="images"></div>
                    <div class="images"></div>
                    <div class="images"></div>
                    <div class="images"></div>
                    <div class="images"></div>
                    <div class="images"></div>
                    <div class="images"></div>
                </div>
            </div>
            <h2>Project Team:</h2>
            <div class="text-box">
                <p><span>Team Member 1:</span></p>
                <p><span>Team Member 2:</span></p>
                <p><span>Team Member 3:</span></p>
                <p><span>Team Member 4:</span></p>
            </div>
            <h2>Project Theories:</h2>
            <div class="text-box">
                <div class="project-images">

                </div>
            </div>
            <h2>Project Resources:</h2>
            <div class="text-box"></div>
        </div>
    </div>

</body>

</html>