body{
background : rgb(11, 0, 34);
width: 100%;
height: 100VH;
}

.big_brain_component{
    position: absolute;
    top: 0%;
    left: 10%;
    width: 30%;
    opacity: 0.5;
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
}

.img_front{
    transform: scale(1.1);
    transition-duration: 1s;
    opacity: 1;
    -webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;
}
.btn{
    position: relative;
    top: 60vh;
}