@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Kode Mono', monospace;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    border: none;

    scroll-behavior: smooth;
    scrollbar-color: var(--text-color) var(--bg-color);
}



:root {
    --black: #010038;
    --bg-color: #293A80;
    --text-color: #537EC5;
    --main-color: #F39422;
}

html {
    font-size: 70%;
    overflow-x: hidden;
}

body {
    background: var(--black);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    overflow-x: hidden;
    margin: 2rem 8rem 5rem 20rem;
}

button {
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: large;
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    color: var(--main-color);
    background-color: var(--black);
    border: var(--main-color) 1px solid;
}

button:hover {
    background-color: var(--main-color);
    color: var(--bg-color);
}

.disable {
    cursor: not-allowed;
    background-color: var(--bg-color);
    color: var(--main-color);
}

.disable:hover {
    background-color: var(--bg-color);
    color: var(--main-color);
}

h2 {
    font-size: 6rem;
    margin-bottom: 2rem;
    text-align: center;
    color: var(--text-color);
}

h3 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    color: var(--text-color);
}

h4 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--text-color);
}

p {
    font-size: 1.5rem;
    color: var(--text-color);
}

h2 span {
    color: var(--main-color);
}

h3 span {
    color: var(--main-color);
}

h4 span {
    color: var(--main-color);
}

p span {
    color: var(--main-color);
}

a {
    text-decoration: none;
    color: var(--main-color);
}

a:hover {
    color: var(--bg-color);
}

/* Custom Classes starts here*
/* Nav Bar Section */
#background-video {
    position: fixed;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    object-fit: cover;
    opacity: 35%;
}

.nav-large {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 10rem;
    height: 100%;
    z-index: 100;
    background: var(--black);
    border-right: var(--main-color) 3px;
}

#logo {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    text-align: center;
}

#brand-name {
    padding-top: 1rem;
    font-size: 1.2rem;
}

.tab-nav {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.tab-nav:active {
    background-color: none;
    color: none;
}

.nav-small {
    display: none;
}

/* Home Section */
#home-logo {
    display: none;
}

#home-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5rem;
}

#home-content {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

#home-position .static {
    font-size: 3rem;
    color: var(--text-color);
}

#home-position {
    font-size: 3rem;
    color: var(--main-color);
}

#home-welcome {
    font-size: 4.5rem;
    color: var(--text-color);
}

#home-welcome span {
    color: var(--main-color);
}

#home-art {
    width: 600px;
    height: 800px;
    position: static;
    background: var(--bg-color);
}

/* about me section */

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-bottom: 5rem;
}

.btn-content {
    display: flex;
    flex-direction: row;
}

.btn-content a {
    padding: 1rem;
}

.about-content-column {
    display: flex;
    flex-direction: column;
}


/* skills section */
.skill-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.skill-component {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 25vw;
    height: 50vh;
    border-radius: 10%;
    border: 3px dashed var(--bg-color);
    margin: 2rem;
    padding: 1rem;
}

/* projects section */
.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.instruction {
    display: flex;
    justify-content: center;
}

.project-content {
    padding-bottom: 5re;
}

.project-list {
    display: flex;
    overflow-x: scroll;
    color: var(--bg-color);
    border: 3px dashed;
}

.project-list .project-component {
    margin: 4rem;
    padding: 2rem;
    border: 3px solid var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5%;
    align-items: center;
    min-width: 250px;
    height: 300px;
    text-align: center;
}

/* experience section */
.experience {
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.experience .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column {
    flex: 1 1 40rem;
}

.education-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
    border-left: .5rem dashed var(--main-color);
}

.content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .5rem;
    margin-bottom: 2rem;
}

.content .duration {
    font-size: 1.5rem;
    color: var(--main-color);
    padding: .5rem;
}

/* contact me section */
.contact {
    margin-bottom: 2rem;
    text-align: center;
    min-height: auto;
    padding-bottom: 7rem;
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box .input-field {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .input-box .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    background: transparent;
    border-radius: .5rem;
    border: .2rem solid var(--main-color);
}

input,
textarea {
    color: var(--text-color);
}

.contact form .input-box .textarea-field {
    position: relative;
    margin: 0.8rem 0 2.5rem;
    display: flex;
}

.contact form .input-box .textarea-field textarea {
    resize: none;
}

footer {
    position: fixed;
    background-color: black;
    height: 5rem;
}

.btn-box {
    display: flex;
    justify-content: center;
}

/* Mobile responsive */
@media screen and (max-width: 1300px) {
    section {
        overflow-x: hidden;
        margin: 2rem 7rem;
        padding: 5rem;

    }

    h2 {
        font-size: 5rem;
        text-align: center;
    }

    h3 {
        font-size: 3rem;
        text-align: center;
    }

    h4 {
        font-size: 2rem;
        text-align: center;
    }

    p {
        font-size: 1.7rem;
        text-align: center;
    }

    /* Nav bar */
    .nav-small {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        background-color: var(--black);
        justify-content: center;
        padding: 2rem;
        align-items: center;
        border-bottom: var(--main-color) dashed 1px;
    }

    .nav-large {
        display: none;
    }

    /* Home section*/
    #home-logo {
        position: absolute;
        display: flex;
        z-index: -1;
        opacity: 25%;
        width: 60%;
        height: 80vh;
    }

    #home-content {
        padding-top: 5rem;
        display: flex;
        align-items: center;
    }

    #home-art {
        display: none;
    }

    /* About section */
    .about-content {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .about-content-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #myImg {
        width: 25%;
        height: 25%;
    }

    /* Skills section*/
    .skill-content {
        overflow-y: hidden;
        width: 100%;
    }

    .skill-component {
        width: 80vw;
        height: 40vh;
    }

    /* Project section */
    .project-list .project-component {
        min-width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 780px) {
    section {
        margin: 1rem;
        padding: 1rem;
    }

    h2 {
        font-size: 4rem;
    }

    p {
        font-size: 1.2rem;
    }

    button {
        font-size: 1.2rem;
        margin: 0.5rem;

    }

    /* Home */
    #home-logo {
        width: 100vw;
        height: 80vh;
    }

    #home-welcome {
        font-size: 3rem;
    }

    /* Skills section */
    .skill-component {
        width: 60vw;
        height: 40vh;
    }

    /* Project section */
    .project-list .project-component {
        min-width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 470px) {

    section {
        overflow-x: hidden;
        margin: 2rem;
        padding: 1rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;

    }

    h4 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;

    }

    button {
        font-size: 1rem;

    }

    /* Home */

    #home-logo {
        height: 50vh;
        padding-bottom: 2rem;
    }

    #home-content {
        text-align: center;
    }

    /* Project section */
    .project-list .project-component {
        min-width: 150px;
        height: 150px;
    }

    .instruction {
        padding-top: 3rem;
    }

    /* Contact section */
    input,
    input::placeholder {
        font: 0.5rem !important;
    }

    input::-ms-input-placeholder {
        font: 5rem !important;
    }

}