@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Playpen+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
button{
    cursor: pointer;
    background-color: var(--main-color);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
}
:root{
    --bg-color:#04364A;
    --second-bg-color:#176B87;
    --text-color: #DAFFFB;
    --main-color:#64CCC5;
}

html{
    font-size: 70%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

h2{
    font-size: 4rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 2rem;

}
h2 span{
    color: var(--main-color);
    font-weight: 700;
}
.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: transparent;
}

.logo{
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
}

.navbar a {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: all 0.3s ease;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

#menu-btn{
    font-size: 3.5rem;
    color: var(--text-color);
    cursor:pointer;
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column{
   flex: 1 1 40rem;
}

.education-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box{
   border-left: .2rem solid var(--main-color);
}

.education-box .education-content{
    padding-left: 2rem;
    position: relative;
}
.education-box .education-content::before{
    content: "";
    position: absolute;
    top: 1.5rem;
    left: -0.8rem;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--main-color);
    border-radius: 50%;
}
.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .5rem;
    margin-bottom: 2rem;
}
.education-content .content:hover{
    background: #0b4457;
    border-color: var(--main-color);
}
.education-content .content .year{
   font-size: 1.5rem;
   color:var(--main-color);
   padding: .5rem;
}
.content h3{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.content p{
    font-size: 1.2rem;
    line-height: 1.8;
    color: var(--second-bg-color);
}

/* contact section */
.contact{
    min-height: auto;
    padding-bottom: 7rem;
}
.contact form{
    max-width: 70rem;
    margin: 0 auto; 
    text-align: center;
}
.contact form .input-box .input-field{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap:  wrap;
    position: relative;
    width: 100%;
    margin: .8rem 0;
}
.contact form .input-box .input-field input, 
.contact form .input-box .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    background: transparent;
    border-radius: .5rem;
    border: .2rem solid var(--main-color);
}
input,textarea{
    color: var(--text-color);
}

.contact form .input-box .textarea-field{
    position: relative;
    margin: 0.8rem 0 2.5rem;
    display: flex;
}

.contact form .input-box .textarea-field textarea{
   resize: none;
}