@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

:root {
    --bg-color: #343434;
    --second-bg-color: #CACACA;
    --text-color: #FCFAF1;
    --main-color: #c0a663;
    --darker-main-color: #62573d;
}

body {
    background-color: var(--bg-color);
}


h1 {
    color: var(--text-color);
    text-align: center;
    font-size: 70px;
    padding-top: 100px;
}

p {
    color: var(--text-color);
    text-align: center;
    font-size: 25px;
}

button {
    cursor: pointer;
    background-color: var(--main-color);
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: large;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: kalam, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    scrollbar-color: var(--main-color) var(--bg-color);
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
}

.row-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.row-img img {
    position: relative;
    padding: 2rem;
    opacity: 60%;
}

.row-img img:hover {
    opacity: 100%;
    cursor: pointer;
}

.description {
    font-size: 20px;
    padding: 5rem 3rem;
}

#btn {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

@media screen and (max-width: 750px) {
    h1 {
        font-size: 50px;
    }

    p {
        font-size: 20px;
    }

    .row-img {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        border-top: 2px solid var(--main-color);

    }

    .description {
        font-size: 15px;
        padding: 1rem;
    }

}