/* Brain sections */
.warning {
    font-size: 0.7rem;
    color: var(--second-bg-color);
    margin-bottom: 1rem;
}

.main-brain {
    position: absolute;
    top: 0%;
    left: 35%;
    width: 30%;
    opacity: 0.8s;
    -webkit-filter: grayscale(80%);
    filter: grayscale(90%);
    z-index: 0;
}

.big-brain {
    position: sticky;
}

.big-brain-component {
    position: fixed;
    top: 0%;
    left: 35%;
    width: 30%;
    opacity: 0.8s;
    -webkit-filter: grayscale(70%);
    filter: grayscale(60%);
    z-index: 0;
}

.img_front {
    transform: scale(1.1);
    transition-duration: 1s;
    opacity: 1;
    -webkit-filter: none;
    filter: none;
    z-index: 1;
}